<main class="form-signin w-100 m-auto text-center">
  <form [formGroup]="loginForm" (ngSubmit)="loguearUsuario()">
    <img class="mb-4" src="../assets/img/icono.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Ingrese sus datos</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" [class.is-invalid]="fm['correo'].invalid && fm['correo'].dirty" placeholder="Correo" [disabled]="estaCargando" formControlName="correo">
      <label for="floatingInput">Correo</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" [class.is-invalid]="fm['contrasena'].invalid && fm['contrasena'].dirty" placeholder="Contraseña" [disabled]="estaCargando" formControlName="contrasena">
      <label for="floatingPassword is-invalid">Contraseña</label>
    </div>
    <span *ngIf="estaCargando" class="spinner-border spinner-border-sm"></span>

    <div  class="alert alert-danger" role="alert" [style.opacity]="errorLogin.opacity">{{errorLogin.message}}</div>

    <button class="w-100 btn btn-lg btn-primary"  type="submit" [disabled]="estaCargando">Iniciar sesión</button>
    <button class="w-100 btn btn-lg btn-dark" routerLink="/registro" [disabled]="estaCargando">Registrar cuenta</button>
  </form>
  <button class="w-100 btn btn-lg btn-warning" (click)="cargarCredencialesAdmin()">Acceso rápido: administrador</button>
</main>
