<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">Sala de juegos</span>
    </div>

    <ul class="nav nav-pills">
      <li class="nav-item"><button type="button" class="btn btn-primary" routerLink="/home">Home</button></li>
      <li *ngIf="estaLogueado" class="nav-item"><button type="button" class="btn btn-light" routerLink="/home/juegos">Juegos</button></li>
      <li *ngIf="estaLogueado" class="nav-item"><button type="button" class="btn btn-light" routerLink="/home/quien-soy">Quien soy</button></li>
      <li *ngIf="estaLogueado" class="nav-item"><button type="button" class="btn btn-danger" (click)="desloguear()">Salir</button></li>
    </ul>
  </header>
</div>
