.tabla-encuesta{
  height: 300px;
  overflow: auto;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 5px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 50px);
}

.section-title p {
  margin-bottom: 0;
}
