<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/ahorcado/9.png" class="card-img-top" alt="Ahorcado" style="height:150px">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">Adiviná la palabra y superá los niveles para sumar puntos</p>
          <a routerLink="ahorcado" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/mayor-menor/mayor-menor-logo.png" class="card-img-top" alt="Ahorcado" style="height:150px">
        <div class="card-body">
          <h5 class="card-title">Mayor o menor</h5>
          <p class="card-text">¿Qué será la próxima carta? ¿Mayor o menor a la actual?</p>
          <a routerLink="mayor-o-menor" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row last-row">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/preguntados/preguntados-main.png" class="card-img-top" alt="Ahorcado" style="height:150px">
        <div class="card-body">
          <h5 class="card-title">Preguntados</h5>
          <p class="card-text">Respondé correctamente las preguntas</p>
          <a routerLink="preguntados" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/dinosaurio/main.png" class="card-img-top" alt="Ahorcado" style="height:150px">
        <div class="card-body">
          <h5 class="card-title">Escape: Dinosaurio</h5>
          <p class="card-text">Saltá los obstáculos para sumar puntos y evitar que Dino se extinga</p>
          <a routerLink="escape-dinosaurio" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
  </div>
</div>
