.mensaje-juego{
  font-family: OptimusPrinceps;
  font-size: 48pt;
  text-align: center;
  font-weight: 100;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 11;
}

.iniciar-juego{
  color:#FFE2D1;
}

.game-over{
  color:#D48872
}
.contenedor{
  width: 920px;
  height: 280px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(#B7D6C7, #FFE2D1);

  overflow: hidden;

  top: 100px;
}

.dino{
  width: 84px;
  height: 84px;

  position: absolute;
  bottom: 22px;
  left: 42px;
  z-index: 2;

  background: url("../../../../assets/img/dinosaurio/dino.png");
  background-size: 336px 84px;
  background-position-x: 0px;
}

.dino-corriendo{
  animation: animarDino 0.25s steps(2) infinite;
}

.dino-estrellado{
  background-position-x: -252px;
}

.suelo{
  width: 200%;
  height: 42px;

  position: absolute;
  bottom: 0;
  left: 0;

  background: url("../../../../assets/img/dinosaurio/suelo.png") repeat-x 0px 0px;
  background-size: 50% 42px;
}

.cactus{
  width: 46px;
  height: 96px;

  position: absolute;
  bottom: 16px;
  left: 600px;
  z-index: 1;

  background: url("../../../../assets/img/dinosaurio/cactus1.png") no-repeat;
}

.score{
  width: 100px;
  height: 30px;

  position: absolute;
  top: 50px;
  right: 15px;
  z-index: 10;

  color: #D48872;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

@keyframes animarDino {
  from{
    background-position-x: -84px;
  }

  to{
    background-position-x: -252px;
  }
}
